.ant-card {
    box-sizing: border-box;
    margin: 0;
    width: 65vh;
    padding: 0;
    padding-left: -3px;
    padding-right: -3px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #fff;
    margin-top: 13px;
    border: 2px solid #3955ae;
    text-align: center;
    margin-left: 28px;
    margin-bottom: 5px;
    background-color: aliceblue;
    border-radius: 7px;
    margin-right: -4px;
}



h1.ant-typography {
    margin-bottom: 0.5em;
    color: #2e78c8;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.23;
    font-family: 'Rubik';

}

h4.ant-typography {
    margin-bottom: 0.5em;
    color: rgb(74 31 31 / 85%);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Open Sans';
}

.div2 {
    display: flex;
    margin-right: 4px;
    justify-content: space-between;
}

.bs1 {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Open Sans';
    background-color: aliceblue;
    margin-top: 5px;
}

/* .edit {
    width: 6vh;
    height: 10vh;
} */

body{
    background-color: white !important; ;
}
